:root {
    --text: #e7e7e7;
    --background: #212322;
    --primary: #1f8cda;
    --secondary: #a1a1a1;
    --accent: #1a1a1a;

    --green: #228528;
    --red: #de1d1d;
    --dark-red: #791111;
    --dark-primary: #1d5c88;
    --orange: #dd7724;
    --pink: #c6405b;
    --aqua: #43cedb;
    --yellow: #d8b715;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    background: var(--background);
    color: var(--text);
    width: 100%;
    line-height: 1.6;
    font-size: 16px;
    scrollbar-gutter: stable;
}

main {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 1rem;
}

.form {
    background: var(--accent);
    padding: 2.2em 1.5em;
    border-radius: 0.75em;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.form>button {
    background: var(--background);
    width: 500px;
}

h1 {
    font-size: 2.6rem;
}

input,
button,
a {
    border: none;
    outline: none;
    text-decoration: none;
    transition: color 250ms, background 250ms;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--secondary);
}

a.button,
button {
    background: none;
    padding: 0.75rem 2.5rem;
    color: var(--text);
    cursor: pointer;
    font-size: 1.25rem;
}

a.button:hover,
button:hover {
    color: var(--secondary);
}

input[type="text"] {
    width: 100%;
    padding: 0 1.5em;
    height: 2.5rem;
    border-radius: 1em;
}

.fine {
    color: var(--secondary);
}

.primary {
    border: none;
    border-radius: 2em;
    background: var(--primary);
    color: #000 !important;
    box-shadow: 0;
}

.dangerous {
    background: var(--dark-red) !important;
}